.your-orders-div-available{
  padding:0 .8rem;
  font-size: 150%;
  font-weight: bold;
  display:flex;
  align-items: center;
  margin:.5rem;
}

.orders-main{
  margin:.7rem;
}
.order-product{
  display:grid;
  grid-template-columns: 2fr 3fr;
  height:minmax(30vh,40vh);
  background:#f7f9fb;
  border-radius:.3rem;
  margin:.5rem;
}

.product-image-div{
  align-items:center;
  justify-content: center;
  height:100%;
  width:92%;
  margin:3rem .5rem;
}

.product-image-div img{
  width:100%;
  height:auto;
}

.product-details-div{
  margin:.5rem;
  padding-top:2rem;
  color:#0f1111;
}

.product-name{
  font-size:93%;
}

.product-price{
  display:flex;
  margin-top:.5rem;
  font-weight:bold;
}

.product-price .dollar-sign,
.product-price .price-cents{
  font-size:75%;
  transform: translateY(.17rem);
}

.product-price .price-dollar{
  font-size:125%;
}

.available{
  font-size: 80%;
  margin:.5rem 0 .2rem 0;
  color:green;
}

.lebel-div{
  font-size:85%;
  background:#f0f0f0;
  display:inline-block;
  align-items:center;
  justify-content: center;
  padding:0 .3rem;
  color:rgba(0,0,0,.7);
}


.multiply-sign_quantity{
  font-weight:500;
  font-size:120%;
  color:rgba(0,0,0,.3);
  transform: translateX(.5rem);
}

.order-product-color{
  font-size:85%;
  background:#f0f0f0;
  display:inline-block;
  align-items:center;
  justify-content: center;
  padding:0 .3rem;
  color:rgba(0,0,0,.7);
  text-transform: capitalize;
}


.delivery-order-date-div{
  font-size:95%;
  display:flex;
  margin-top:1rem;
}

.delivery-order-text{
  font-weight:bold;
  color:rgba(0,0,0,.6);
  font-style: italic;
}

.delivery-date{
  color:#1a8a7d;
}

.clear-all-orders{
  font-size:60%;
  display:flex;
  position: fixed;
  right:.5rem;
  background:#f0f0f0b4;
  padding:.5rem 1.2rem;
  border-radius:.4rem;
}