.search-area{
  background:var(--bg-color);
  height:50px;
  display:flex;
  align-items:center;
  padding: 0 .5rem;
}

.search-input_icon{
  background:white;
  height:90%;
  display:flex;
  flex:1;
  border-radius:.5rem;
  position: relative;
}

.search-input_icon .input{
  height:100%;
  width:100%;
  border-radius:.5rem;
  border:none;
  padding-left:.7rem;
  font-size: 105%;
}

.search-input_icon .input::placeholder{
  padding-left:.5rem;
  
  color:rbga(255,255,255,.5);
}

.search-icon-box{
  background:#ffdfd7;
  position: absolute;
  right:0;
  height:100%;
  width:3rem;
  border-radius:.5rem;
  display:flex;
  align-items: center;
  justify-content: center;
}

.search-icon-box img{
  width:55%;
  height:auto;
}

.input:focus {
  outline: 2px solid #ffdfd7;
  outline-offset: -5px;
}
